.article-item {
  max-width: 870px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 85px;
  background: #ffffff;
  margin: 0 auto;
  padding: 15px 14px 24px 16px;
}

.article-item__content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.article-item__header {
  display: flex;
  gap: 13px;
  align-items: center;
}

.article-item__title {
  max-width: 600px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #1890ff;
  overflow: hidden;
}

.article-item__text {
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
}

.article-item__interface {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.article-item__signature {
  display: flex;
  gap: 12px;
  .signature {
    display: flex;
    flex-direction: column;
    &__name {
      font-size: 18px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.85);
    }
    &__date {
      font-size: 12px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.control-btns {
  display: flex;
  gap: 5px;
  button {
    font-size: 18px;
    font-family: "Inter UI";
    line-height: 1em;
    display: flex;
    align-items: center;
    padding: 6px 18px 6px 18px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
  }
  .edit-btn {
    color: green;
    border: 1px solid green;
  }
  .delete-btn {
    color: red;
    border: 1px solid red;
  }
}
